<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zdzc.dao.TSysCityMapper">
  <resultMap id="BaseResultMap" type="com.zdzc.model.TSysCity">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="provide_id" jdbcType="INTEGER" property="provideId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="enabled" jdbcType="INTEGER" property="enabled" />
  </resultMap>


  <!--查询某省下的所有城市-->
  <select id="selectCityList" parameterType="java.lang.Integer" resultMap="BaseResultMap">
     SELECT  *  from  t_sys_city
     where  enabled =1 and provide_id = #{provinceId}
    </select>

</mapper>