<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zdzc.dao.TSysAreaMapper">
  <resultMap id="BaseResultMap" type="com.zdzc.model.TSysArea">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="province_id" jdbcType="INTEGER" property="provinceId" />
    <result column="city_id" jdbcType="INTEGER" property="cityId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="enabled" jdbcType="INTEGER" property="enabled" />
  </resultMap>


  <!--查询某省下的所有城市-->
  <select id="selectAreaList" parameterType="java.lang.Integer" resultMap="BaseResultMap">
     SELECT  *  from  t_sys_area
     where  enabled =1 and city_id = #{cityId}
    </select>



</mapper>