<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zdzc.dao.TSysDicMapper">
  <resultMap id="BaseResultMap" type="com.zdzc.model.TSysDic">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="VARCHAR" property="id" />
    <result column="category_id" jdbcType="VARCHAR" property="categoryId" />
    <result column="dic_key" jdbcType="VARCHAR" property="dicKey" />
    <result column="dic_value" jdbcType="VARCHAR" property="dicValue" />
    <result column="is_enable" jdbcType="INTEGER" property="isEnable" />
    <result column="sort_no" jdbcType="INTEGER" property="sortNo" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <!--<result column="CategoryDirKey" jdbcType="VARCHAR" property="CategoryDirKey" />
    <result column="CategoryDirValue" jdbcType="VARCHAR" property="CategoryDirValue" />-->
  </resultMap>


    <!-- 根据id 查询对象 —— 关联类别 -->
    <select id="selectTSysDicWithCatergory" parameterType="java.lang.String" resultMap="BaseResultMap">
     SELECT a.*,b.dic_key CategoryDirKey,b.dic_value CategoryDirValue
        from t_sys_dic a inner join t_sys_dic_category b  on a.category_id = b.id
        where a.id=#{id}
    </select>

    <!--  一个类别下的selectAll  -->
    <select id="selectAllDic" resultMap="BaseResultMap">
        SELECT a.*,b.dic_key CategoryDirKey,b.dic_value CategoryDirValue
        from t_sys_dic a inner join t_sys_dic_category b  on a.category_id = b.id
        where a.category_id = #{categoryId}
        order by a.sort_no desc
    </select>

    <!--查询一个类下的小类的数目-->
    <select id="selectDicCountByCategoryId"  resultType="integer">
        SELECT count(0) as count from t_sys_dic
        where category_id = #{categoryId}
    </select>

    <select id="selectListBykeyAndCategory" resultMap="BaseResultMap">
        SELECT *
        from t_sys_dic
        where category_id = #{categoryId} and dic_key= #{dicKey}
    </select>

</mapper>