/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Log Dirs ###
error
info

# Compiled class file
*.class

# Log file
*.log

/zdzc-base-service/target/
/zdzc-common/target/
/zdzc-eureka/target/
/zdzc-zuul/target/
/zdzc-base-client/target/
/zdzc-config-client/target/
/zdzc-config-server/target/
/zdzc-zipkin/target/
